@charset "UTF-8";

/*Estilo para impressoras*/

* {
    margin: 10px;
    padding: 10px;
}

menu {
    display: none;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: 1.5em;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso pelo site www.paulistania.com';
}